[Desktop Entry]
Name=Hikami First Boot Setup
Comment=Runs hikami-firstboot with the --check-already-ran option
Exec=/usr/bin/hikami-firstboot --check-already-ran
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup
